.blog__container {
  padding: 110px 0 70px;

  @media (max-width: $desktop-breakpoint) {
    padding: 110px 20px 70px;
  }
}

.blog__title {
  margin: 0;
  margin-bottom: 21px;
  font-family: $font-title;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  color: $dark-gray;
  text-align: center;

  @media (max-width: $desktop-content) {
    font-size: 24px;
  }
}

.blog__content {
  position: relative;
  margin: 0;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 21px;
  color: $medium-gray;
  text-align: center;

  &::before {
    @include pseudo ("", absolute, 195px, 2px);
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 40px dashed $medium-gray;
    clip: rect(39px, auto, auto, auto);
  }

  &::after {
    @include pseudo ("", absolute, 8px, 8px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: $red;
    border-radius: 50%;
  }
}

.blog__list {
  @include list-style (none, 0, 0);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.blog__item {
  width: 50%;
  background-color: $red;

  @media (max-width: $desktop-content) {
    width: 100%;
  }
}

.blog__item:nth-child(4n+3) .blog__article {
  flex-direction: row-reverse;

  @media (max-width: $desktop-content) {
    flex-direction: row;
  }
}

.blog__item:nth-child(4n+3) .article__info::before {
  left: unset;
  right: -70px;
  border-right: 35px solid transparent;
  border-left: 35px solid $red;

  @media (max-width: $desktop-content) {
    right: unset;
    left: -70px;
    border-right: 35px solid $red;
    border-left: 35px solid transparent;
  }
}

.blog__item:nth-child(4n) .blog__article {
  flex-direction: row-reverse;
}

.blog__item:nth-child(4n) .article__info::before {
  left: unset;
  right: -70px;
  border-right: 35px solid transparent;
  border-left: 35px solid $red;
}

.blog__item:nth-child(4n+2) .blog__article {
  @media (max-width: $desktop-content) {
    flex-direction: row-reverse;
  }
}

.blog__item:nth-child(4n+2) .article__info::before {
  @media (max-width: $desktop-content) {
    left: unset;
    right: -70px;
    border-right: 35px solid transparent;
    border-left: 35px solid $red;
  }
}
