.free-trial {
  background-image: url("../img/background-free-trial.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-free-trial@2x.png");
  }
}

.free-trial__container {
  padding: 150px 0 140px;

  @media (max-width: $tablet-breakpoint) {
    padding: 150px 20px 140px;
  }
}

.free-trial__title {
  margin: 0;
  margin-bottom: 30px;
  font-family: $font-title;
  font-size: 36px;
  font-weight: 400;
  color: $white;
  text-align: center;

  @media (max-width: $desktop-content) {
    font-size: 24px;
  }
}

.free-trial__title span {
  font-weight: bold;
}


.free-trial__text {
  position: relative;
  margin: 0;
  margin-bottom: 70px;
  font-size: 14px;
  line-height: 21px;
  color: $white;
  text-align: center;
}

.free-trial__link {
  display: block;
  padding: 18px 0;
  width: 225px;
  margin: 0 auto;
  font-size: 14px;
  color: $white;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  background-color: transparent;
  border: 1px solid $white;
  box-shadow: 0 2px 4.75px 0.25px $shadow;

  &--background {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    background-color: $red;
    border: 1px solid $red;
    animation-name: hover-button-transparent;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
  }

  &:active {
    background-color: $red;
    opacity: 0.5;
  }

  @media (max-width: $desktop-content) {
    width: 160px;
    padding: 14px 0;
    font-size: 12px;
  }
}
