.navigation {
  @include list-style (none, 0, 0);
  display: flex;
  margin-left: 301px;
  padding: 57px 0 40px;

  @media (max-width: $desktop-width) {
    margin-left: auto;
  }

  @media (max-width: $desktop-content) {
    display: none;
    flex-direction: column;
  }
}

.navigation__item:not(:last-child) {
  margin-right: 58px;
}

.navigation__link {
  display: block;
  padding-bottom: 20px;
  font-size: 14px;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;


  &:hover,
  &:focus {
    color: $red;
    border-bottom: 1px solid $red;
    animation-name: hover-menu;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }

  &:active {
    color: $yellow;
    border-bottom: 1px solid $yellow;
    opacity: 0.5;
  }
}
