.page-footer {
  position: relative;
  background-color: $black-gray;
}

.page-footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (max-width: $desktop-breakpoint) {
    padding: 0 20px;
  }

  @media (max-width: $tablet-content) {
    justify-content: center;
  }
}

.page-footer__copyright {
  font-size: 14px;
  color: $medium-gray;
  letter-spacing: 0.2px;

  @media (max-width: $tablet-content) {
    width: 100%;
    text-align: center;
  }
}

.scroll {
  position: fixed;
  display: block;
  width: 50px;
  height: 50px;
  bottom: 63px;
  right: 55px;
  border: none;
  border-radius: 50%;
  background-color: $red;
  outline: none;

  &:hover,
  &:focus {
    background-color: $medium-gray;
    animation-name: hover-button;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }

  &:active {
    background-color: $red;
    opacity: 0.5;
  }

  &--close {
    display: none;
  }

  @media (max-width: $tablet-content) {
    right: 25px;
    bottom: 103px;
  }
}

.scroll__icon {
  fill: $white;
  transform: rotate(90deg);
  width: 8px;
  height: 17px;
}
