.paginator {
  @include list-style (none, 0  auto, 0);
  display: flex;
  width: 52px;
}

.paginator__item:not(:last-child) {
  margin-right: 8px;
}

.paginator__button {
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: $paginator-gray;
  border: none;
  outline: none;

  &--active {
    background-color: $red;
  }

  &:hover,
  &:focus {
    background-color: $red;
    animation-name: hover-button;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }

  &:active {
    background-color: $red;
    opacity: 0.5;
  }
}
