.study__container {
  padding: 141px 0 197px;
  background-image: url("../img/background-study.png");
  background-size: 587px 722px;
  background-repeat: no-repeat;
  background-position: 585px 320px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/background-study@2x.png");
  }

  @media (max-width: $desktop-breakpoint) {
    background-position: 437px 320px;
  }

  @media (max-width: $desktop-content) {
    padding: 141px 20px 197px;
    background-position: 181px 320px;
  }

  @media (max-width: $mobile-content) {
    padding: 141px 16px 197px;
    background-position: center 320px;
  }
}

.study__title {
  margin: 0;
  margin-bottom: 13px;
  font-family: $font-title;
  font-size: 36px;
  font-weight: bold;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  color: $dark-gray;
  text-align: center;

  @media (max-width: $desktop-content) {
    font-size: 24px;
  }
}

.study__content {
  position: relative;
  margin: 0;
  margin-bottom: 110px;
  padding-bottom: 30px;
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 29px;
  color: $medium-gray;
  text-align: center;

  &::before {
    @include pseudo ("", absolute, 195px, 2px);
    bottom: 4px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 40px dashed $medium-gray;
    clip: rect(39px, auto, auto, auto);
  }

  &::after {
    @include pseudo ("", absolute, 8px, 8px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: $red;
    border-radius: 50%;
  }

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 80px;
  }

  @media (max-width: $mobile-content) {
    margin-bottom: 70px;
  }
}

.study__wrap {
  position: relative;
  width: 665px;
  min-height: 630px;
  padding: 100px 60px 50px;
  background-color: $white;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);

  @media (max-width: $desktop-content) {
    width: 465px;
    padding: 80px 40px 50px;
  }

  @media (max-width: $mobile-content) {
    width: 100%;
    padding: 40px 16px 30px;
  }
}

.study__list {
  @include list-style (none, 0, 0 15px);
}

.study__item {
  display: none;
  position: relative;

  &--active {
    display: block;
  }
}

.study__icon {
  position: relative;
  width: 90px;
  height: 90px;
  margin: 0 auto 70px;
  background-color: $red;
  transform: rotate(45deg);
}

.study__icon svg {
  position: relative;
  top: 28px;
  left: 50%;
  transform: translateX(-50%) rotate(-45deg);
}

.study__subtitle {
  position: relative;
  margin: 0;
  margin-bottom: 22px;
  padding-bottom: 28px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  color: $dark-gray;
  text-align: center;
  letter-spacing: 1.9px;

  &::before {
    @include pseudo ("", absolute, 41px, 1px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: $dark-gray;
  }

  @media (max-width: $mobile-content) {
    font-size: 16px;
  }
}

.study__description {
  margin: 0;
  margin-bottom: 42px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.2px;
  font-weight: 300;
  color: $medium-gray;
  text-align: center;
  overflow-wrap: normal;
  word-wrap: break-word;
}

.study__link {
  display: block;
  margin: auto auto 50px;
  padding: 18px 0;
  width: 145px;
  font-size: 12px;
  color: $white;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 2px 4.75px 0.25px $shadow;
  border: none;
  background-color: $red;

  &:hover,
  &:focus {
    background-color: $medium-gray;
    animation-name: hover-button;
    animation-duration: 500ms;
    animation-timing-function: ease-in-out;
  }

  &:active {
    background-color: $red;
    opacity: 0.5;
  }
}

.study__paginator {
  position: relative;
  justify-content: center;
}
