.team {
  background-image: url("../img/wave.png"), url("../img/background-team.png");
  background-repeat: no-repeat;
  background-position: center top, center top;
  background-size: 100% auto, cover;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/wave@2x.png"), url("../img/background-team@2x.png");
  }

  @media (max-width: 1920px) {
    background-position: center bottom, center top;
  }

  @media (max-width: 1024px) {
    background-position: center 70px, center top;
    background-size: cover, cover;
  }
}

.team__container {
  padding: 140px 0;

  @media (max-width: 1200px) {
    padding: 140px 100px;
  }

  @media (max-width: $tablet-content) {
    padding: 140px 50px;
  }
}

.team__title {
  margin: 0;
  margin-bottom: 13px;
  font-size: 36px;
  font-family: $font-title;
  letter-spacing: 3.6px;
  color: $white;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.team__content {
  position: relative;
  margin: 0;
  margin-bottom: 130px;
  padding-bottom: 30px;
  font-size: 14px;
  line-height: 29px;
  color: $medium-gray;
  text-align: center;
  letter-spacing: 0.2px;

  &::before {
    @include pseudo ("", absolute, 195px, 2px);
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 40px dashed $medium-gray;
    clip: rect(39px, auto, auto, auto);
  }

  &::after {
    @include pseudo ("", absolute, 8px, 8px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    background-color: $red;
    border-radius: 50%;
  }

  @media (max-width: $desktop-width) {
    margin-bottom: 80px;
  }

  @media (max-width: $desktop-breakpoint) {
    margin-bottom: 0;
  }
}

.team__list {
  @include list-style (none, 0, 0);
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team__item {
  position: relative;
  padding: 10px 0 130px;

  &:hover .team__info {
    display: block;
  }

  &:hover .team__photo {
    position: relative;

    &::before {
      @include pseudo ("", absolute, 1px, 107px);
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      background-color: $white;
    }
  }

  &:hover .team__photo img {
    transform: scale(1.5);
    box-shadow: 0 5px 12.75px 2.25px rgba(0, 0, 0, 1);
  }

  &--one {
    top: 30px;
  }

  &--two {
    top: 0;
  }

  &--three {
    top: 5px;
  }

  &--four {
    top: 45px;
  }

  &--five {
    top: 40px;
  }

  @media (max-width: 1440px) {
    &--one {
      top: 130px;
    }

    &--two {
      top: 65px;
    }

    &--three {
      top: 50px;
    }

    &--four {
      top: 75px;
    }

    &--five {
      top: -25px;
    }
  }

  @media (max-width: 1380px) {
    &--one {
      top: 150px;
    }

    &--two {
      top: 75px;
    }

    &--three {
      top: 66px;
    }

    &--four {
      top: 85px;
    }

    &--five {
      top: -30px;
    }
  }

  @media (max-width: 1200px) {
    &--one {
      top: 156px;
    }

    &--two {
      top: 104px;
    }

    &--three {
      top: 92px;
    }

    &--four {
      top: 113px;
    }

    &--five {
      top: 28px;
    }
  }

  @media (max-width: 1024px) {
    &--one {
      top: 94px;
    }

    &--two {
      top: 70px;
    }

    &--three {
      top: 72px;
    }

    &--four {
      top: 100px;
    }

    &--five {
      top: 100px;
    }
  }

  @media (max-width: 768px) {
    &--one {
      top: 77px;
    }

    &--two {
      top: 66px;
    }

    &--three {
      top: 71px;
    }

    &--four {
      top: 89px;
    }

    &--five {
      top: 105px;
    }
  }

  @media (max-width: $mobile-content) {
    &--one {
      top: 30px;
    }

    &--two {
      top: 25px;
    }

    &--three {
      top: 30px;
    }

    &--four {
      top: 40px;
    }

    &--five {
      top: 50px;
    }
  }

  @media (max-width: $tablet-content) {
    &--one .team__info {
      left: -50px;
    }

    &--five .team__info {
      left: -150px;
    }
  }
}

.team__info {
  display: none;
  position: absolute;
  width: 250px;
  bottom: 0;
  left: -100px;
}

.team__photo img {
  display: block;
  position: relative;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  border: 3px solid $red;

  @media (max-width: $mobile-content) {
    width: 40px;
    height: 40px;
  }
}

.team__name {
  margin: 0;
  margin-bottom: 15px;
  font-size: 24px;
  color: $red;
  font-weight: 600;
  text-align: center;
}

.team__position {
  margin: 0;
  font-size: 14px;
  font-family: $font-title;
  color: $white;
  line-height: 24px;
  text-align: center;
}
